*{
  box-sizing: border-box;

}

.ntk-navbar {
  width:100%;
  background-color: #0b0191;
  position:fixed;
  max-height: 4em;
  padding-top: auto;
  vertical-align: middle;

}

.ntk-nav
{
  padding: 5px;
  display: flex;
  justify-content: center;
  
  
}

.ntk-nav-link{
  font-size: 1.5em;
  color: #fff;
  margin-inline: 15px;
  text-decoration: none;
}

.ntk-nav-link.active{
  text-decoration: underline !important;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 0.2em;
}

.ntk-body{
  position: relative;
  top: 4em;
  padding: 2.5%;
 
}

.ntk-wlc-msg{
  font-size: 1.5em;
  text-align: center;
}


.ntk-ppcwi
{
  position: relative;
  left: 10%;
  background-color: #0b0191;
  color: #fff;
  padding: 20px;
  width: 90%;
  height: 11em;
  border-radius: 12px;
  text-align: center;
}